<form action="/" method="post">
  <label>Primeiro nome:</label>
  <input type="text" name="name" required><br>

  <label>Sobrenome:</label>
  <input type="text" name="lastname"><br>

  <label>Email:</label>
  <input type="text" name="email"><br>

  <label>Cargo:</label>
  <input type="text" name="occupation"><br>

  <label>Telefone:</label>
  <input type="text" name="telephone"><br>


  <input type="checkbox" name="EP2" checked>
  <label for="EP2">020202</label>
<br>
  <button type="submit">Gerar</button>
</form>

<img src="/home/mess/Files/Node/projeto-assinatura/public/img/newSignature.png">
{{#if req.body.signatuture}}
  <img src="{{req.body.pathSignatuture}}">
{{/if}}
